/* For voter */

/* Main container needs to take up the full height */
.voter-app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 100vh ensures the container takes up the full viewport height */
}

.voter-main-content {
  display: flex;
  flex: 1;
  overflow: hidden; /* Ensures the sidebar and content fill the remaining space */
}

.voter-content {
  flex: 1;
  padding: 2% 4%; /* Use relative padding for better scalability */
  overflow: auto; /* Allow scrolling if content overflows */
}

.voter-content h2 {
  font-weight: 700;
  font-size: 2em; /* Relative font size for better scalability */
  margin-bottom: 1em; /* Relative margin for consistent spacing */
  color: #333;
}

.voter-elections-section {
  margin-bottom: 5%; /* Relative bottom margin */
}

.voter-elections-list {
  background-color: #f9f9f9;
  padding: 1% 2%;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.voter-election {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 2%; /* Increased padding for better readability */
  margin-bottom: 2%; /* Relative margin for consistent spacing */
  transition: transform 0.2s;
  min-height: 7px; /* Increased minimum height */
}

.voter-election:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.voter-election-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: 2%; /* Added margin for spacing between elements */
}

.voter-election-info div {
  margin-bottom: 0.5em; /* Relative margin */
  color: #333;
  font-size: 1em; /* Relative font size */
}

.voter-election-info div span {
  font-weight: bold;
  font-size: 1.1em; /* Slightly larger relative font size */
}

.voter-election-deadline {
  text-align: right;
  flex-shrink: 0;
}

.voter-election button {
  padding: 0.5em 1em;
  border: 1px solid #007bff;
  background-color: #fff;
  color: #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1em; /* Relative font size */
}

.voter-election button:hover {
  background-color: #0056b3;
  color: #fff;
}

.voter-election-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%; /* Relative margin */
}

.voter-election-section-header input {
  border-radius: 5px;
  height: 35px;
  width: 35%; 
  border: 1px solid #ddd;
  padding-left: 10px;
  font-size: 1em; /* Relative font size */
}
