/* AccListEdit.css*/



.space-table {
  width: 120%; /* Optional: Set table width to 100% of its container */
  border-collapse: collapse; 
}

.space-table th {
  padding: 10px; /* Adjust padding for table headings */
  text-align: center; 
  background-color: #f0f0f0; 
}

.space-table th:nth-child(1) {
  width: 40%; 
}

.space-table th:nth-child(2) {
  width: 40%; 
}

.space-table th:nth-child(3) {
  width: 40%; 
}

.space-table th {
  background-color: #f2f2f2;
}

.space-table th:nth-child(even) {
  background-color: #f2f2f2;
}

.Edit {
  padding: 10px 30px; 
  font-size: 12px; 
  background-color: transparent; /* Transparent background */
  color: hsl(0, 0%, 6%); 
  border: none; 
  border-bottom: 1px solid transparent; /* Initially transparent bottom border */
  text-decoration: none; /* Remove default text decoration */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: border-color 0.3s ease; /* Smooth transition for border color */
  text-align: center; 
  vertical-align: middle;
  background-color: #f1a2a2;
}