.newHeader {
  position: absolute;
  top: 0;
}

.page1 {
    display: flex;
    min-height: 100vh; /* Ensures body fills the viewport height */
}

.sidebar1 {
    padding: 20px;
    width: 20%;
    position: absolute;
    bottom: 0;
  }


.cont {
  background-color: #fff;
  width: 40%;
  display: flex; /* Make the right div a flexbox container */
  flex-direction: column; /* Arrange elements vertically (top-to-bottom) */
  align-items: left; /* Horizontally center the elements */
}
  
