/* for election manager */

/* Basic styles */

.dashboard {
  padding: 65px 120px;
}


.dashboardText {
  font-size: 36px;
  font-weight:bolder;
  margin-bottom: 20px;
}

/**** For search bar column ****/
.search-bar-column {
  display: flex;
  align-items: center;  
  padding: 0px,10px;       
  gap: 10px;           
  margin-bottom: 20px;
  
}

.search-bar-column input{
  padding: 8px;         
  border: 2px solid #ccc; 
  border-radius: 4px;   
  font-size: 16px;      
  width: 700px;
}

.search-bar-column select {
  padding: 10px;         
  border: 2px solid #ccc; 
  border-radius: 4px;   
  font-size: 16px;    
  width: 200px;
  cursor: pointer;
  margin-left: 15px;
}

.search-bar-button{
  margin-left: 10px;
  margin-right: 167px;
}

.search-bar-column > button {
  cursor: pointer;
  padding: 10px 30px;
  background-color: #ffffff;  
  color: #a376e2;             
  border: 2px solid #a376e2;  
  border-radius: 8px;
  font-size: 16px;           
  font-weight: bold;      
  
}


.search-bar-column > button:hover {
  background-color: #6200EE; 
  color: #ffffff;            
}

/**** For election items ****/
.election-item-titles {
  display: flex;
  align-items: center;  
  border: 2px solid #ccc; 
  border-radius: 4px;
  padding: 10px;  
  margin-bottom: 15px;  
  background-color: #f9f9f9;  
  height: 10px;
  font-size: 16px;      
  font-weight: bold;        
}

.election-item-titles > div {
  flex: 1;  
  text-align: center; 
  padding: 5px 10px; 
  box-sizing: border-box; 
}

.election-item {
  display: flex;
  align-items: center;  
  border: 2px solid #212121;
  border-radius: 4px;  
  padding: 10px;
  margin-bottom: 30px;  
  color: #262626;       
  background-color: #bab9b9;  
  width: 100%;  
  height: 90px;
  text-align: left;  
  cursor: pointer;  
  border: none;
  outline: none;
}

.election-item > div {
  flex: 1;  
  text-align: center; 
  padding: 5px 10px;  
  box-sizing: border-box; 
  font-size: 16px;        
}


/**** For pagination ****/
.pagination {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.pagination button {
  background-color: transparent; 
  border: none; 
  color: #333; 
  font-size: 16px; 
  padding: 8px 12px; 
  cursor: pointer;
  transition: color 0.3s;
}
