/* for election manager */

.container{
    padding: 45px 100px;
}

.election-details-page {
    display: flex;
}
  
.form-content {
    flex: 3;
    padding: 10px 40px;
    margin-left: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input[type="text"], input[type="date"], input[type="datetime-local"], select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-color:#928e98;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}

.form-group label {
    display: block;
}


.next-button{
    padding: 8px 16px; /* Adjust padding as needed for button size */
    background-color: #6200EE; /* Example button color */
    color: white; /* Text color for the button */
    border: none; /* Removes the default border */
    cursor: pointer; /* Shows a pointer cursor when hovering over the button */
    border-radius: 8px; /* Optional: rounds the corners of the button */
    margin-top:5px;
}

.election-details-button:hover {
    background-color: darkblue;
} 