/* for election manager */

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  justify-content: space-between;
  border-bottom: 3px solid rgb(172, 171, 171);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
  display: block;
  margin-left: 0;
}

.headerText {
  flex-grow: 1;
  text-align: right;
  font-size: 24px;
  color: #000000;
}
