/* header.module.css */
.header {
    display: flex;
    align-items: center; /* Align items vertically center */
    padding: 10px;
    background-color: #ffffff;
    justify-content: left; /* Align items to the left */
    border-bottom: 3px solid rgb(172, 171, 171);
}

.logo {
    width: 75px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin-right: 1100px; 
    margin-left: 67px;
}

.headerText {
    font-size: 18px; /* Adjust the font size as needed */
    margin-left: 30px;
    margin-right: 10px;
}


.noStyleButton {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 18px
}