/* for election manager */

.election-manager-sidebar {
    flex: 0.75;
    border-right: 1px solid #ccc;
    padding: 20px;
    margin-top: 45px;
}

.election-manager-sidebar h1 {
    margin-bottom: 50px;
    font-size: 24px;
}

.election-manager-sidebar ul {
    list-style: none;
    padding: 0;
}

.election-manager-sidebar li {
    margin-bottom: 40px;
    cursor: pointer;
}

.election-manager-sidebar li.active {
    color: #6200EE;
    font-weight: bold;
}
