/* for election manager */

.container{
    padding: 45px 100px;
}

.list-of-voters-page{
    display: flex;
}
.voter-content {
    flex: 3;
    padding: 10px 40px;
    margin-left: 20px;
}

.voter-content h1 {
    margin-right: 20px;     
}


.header-search {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: space-between; /* Adjust this as needed for spacing */
    width: 100%; /* Ensures the flex container takes full width */
    margin-top: 30px;
    margin-bottom: 20px;
}

.header-search input {
    flex-grow: 0; /* Prevents the input from growing to fill the space */
    width: 450px; /* Sets a specific width to the input */
    margin-right: 20px; /* Adds space between the input and the button */
}

.header-search button {
    padding: 8px 16px; /* Adjust padding as needed for button size */
    background-color: #6200EE; /* Example button color */
    color: white; /* Text color for the button */
    border: none; /* Removes the default border */
    cursor: pointer; /* Shows a pointer cursor when hovering over the button */
    border-radius: 8px; /* Optional: rounds the corners of the button */
    margin-top:5px;
}

.header-search button:hover {
    background-color: #4500c7; /* Darker shade on hover for better UI feedback */
}

.search-container {
    display: flex;
    align-items: center; /* Keeps the input and button aligned on the same line */
}


.voter-profile{
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 7px; /* Space between candidate profiles */
}

.voter-card {
    display: flex;
    justify-content: space-between; /* This spreads the child elements across the full width */
    align-items: center; /* Aligns items vertically in the center */
    border: 2px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
    height: 40px;
    border-radius: 4px;
    flex-grow: 1;
}

.remove-voter-button {
    padding: 8px 16px;
    background-color: #B22222;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 20px; /* Space between the card and the button */
}

.list-of-voters-button-container {
    display: flex;
    justify-content: space-between; /* Centers the buttons horizontally in the container */
    gap: 20px; /* Sets a gap between the buttons */
    margin-top: 20px; /* Optional: Adds some space above the button container */
}


.add-voter-email-button, .add-voter-dept-button {
    padding: 8px 16px; /* Adjust padding as needed for button size */
    background-color: #6200EE; /* Example button color */
    color: white; /* Text color for the button */
    border: none; /* Removes the default border */
    cursor: pointer; /* Shows a pointer cursor when hovering over the button */
    border-radius: 4px; /* Optional: rounds the corners of the button */
    margin-left: 5px;
}


.dept-profile{
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 7px; /* Space between candidate profiles */
}

.dept-card {
    display: flex;
    justify-content: space-between; /* This spreads the child elements across the full width */
    align-items: center; /* Aligns items vertically in the center */
    margin-bottom: 5px;
    border: 2px solid #8d8d8d;
    padding: 15px;
    background-color: #d7d1e1;
    height: 40px;
    border-radius: 4px;
    flex-grow: 1;
}
