/* for election manager */

.topic-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.topic-modal {
    background: white;
    padding: 40px 70px;
    width: 650px;
    border-radius: 8px;
    height: 300px;
}

.topic-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.topic-close-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
}

.topic-modal-form {
    display: flex;
    flex-direction: column;
}

.topic-modal-form label {
    margin-bottom: 15px;
}

.topic-modal-form input {
    padding: 8px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box; /* Makes sure padding doesn't affect width */
}

.topic-submit-button {
    background-color: #6200EE;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
}

.topic-submit-button:hover {
    background-color: #4500c7;
}
